.links {
    width: 100%;
}

.link-text {
    margin-bottom: 0 !important;
}

.link-text:hover {
    text-decoration: underline;
}

.link-btn-group {
    width: 100%;
    border-width: 2px;
    border-color: red;
}

.link-btn {
    background-color: inherit !important;
    color: rgb(218, 218, 218);
}

.link-btn:hover {
    border-color: aquamarine
}

.links-footer {
    display:flex;
    justify-content: space-between;
}

.bur {
    margin-left: 8px;
    margin-top: 15px;
    font-size: 12px
}

.bur-link {
    width: 1px;
    height: 1px;
}

.date {
    margin-right: 8px;
    margin-top: 15px;
    font-size: 12px
}
