@media screen and (min-width: 767.1px) {
    .about-welcome {
        margin-top: 25%;
        margin-bottom: 30px;
    }

    .about-image {
        height: 180px;
        width: 180px;
        background-image: url(../../../public/images/tenor.gif);
        background-size: cover;
        background-position: center center;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .about-image:hover {
        height: 180px;
        width: 180px;
        background-image: url(../../../public/images/giphy.gif);
        background-size: cover;
        background-position: center center;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .about-info {
        margin-top: 50px;
    }

    .about {
        text-align: center;
        color: rgb(218, 218, 218);
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
}


.links {
    position: absolute;
    left: 20;
    bottom: 0;
    padding-bottom: 15px;
}

.bur {
    text-align: left;
    margin-left: 8px;
    margin-top: 15px;
    font-size: 12px
}

.bur-link {
    width: 1px;
    height: 1px;
}

@media screen and (max-width: 767px) {
    .about {
        padding-top: 2.5em;
        text-align: center;
        width: unset;
        position: unset;
        background-color: #111; /* Black */
        color: rgb(218, 218, 218);
        font-family:'Roboto Mono'
    }
    
    .about-image {
        padding-top: 5em;
        height: 180px;
        width: 180px;
        background-image: url(../../../public/images/tenor.gif);
        background-size: cover;
        background-position: center center;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .about-image-div {
        padding-top:2em;
    }

    .about-info {
        padding-top: 3.5em;
        text-align:center;
    }

    .about-links {
        padding-top: 10em;
    }
}