.App {
  text-align: left;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 35%;
  align-self:stretch;
  background-color: black;
  color: white;
}

.not-sidebar {
  height: 100%;
  width: 75%;
  align-self:stretch;
  background-color:white;
}

.god-container {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  width: 100%;
}

.god-row {
  height: 100%;
  width:100%;
}
